body, html {
    margin: 0;
    padding: 2px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

#entry-page, #flashcard {
    display: none;
    width: 100%;
    max-width: 500px;
    height: 100%;
}

#entry-page.active, #flashcard.active {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#entry-page {
    flex-direction: column;
}


.button {
    width: 100%;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 4px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#start-button {
    margin-top: 10px;
}

.disabled {
    pointer-events: none; /* Prevents clicks */
    opacity: 0.5; /* Visual indication of being disabled */
}

button[data-isSelected="false"] {
    opacity: 0.5;
}

.dropdown-container, .select-all-or-none-button-container {
    margin-top: 5px;
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center; /* Vertically aligns the items in the container */
    width: 100%;
}

.dropdown-container label, .select-all-or-none-button-container label {
    margin-right: 10px; /* Adds space between the label and select */
    font-size: 20px;
    font-weight: bold;
    align-content: center;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}

#modeSelection, #nbCards {
    width: auto;
    padding-left: 2px;
    padding-right: 5px;
    margin-right: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.random-order-container, .select-all-or-none-button-container {
    margin-top: 5px;
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center; /* Vertically aligns the items in the container */
    width: 100%;
}

.random-order-container label {
    margin-right: 10px; /* Adds space between the label and select */
    font-size: 20px;
    font-weight: bold;
    align-content: center;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}

.btn-group {
    margin-top: 0;
    display: flex;
    width: 120px;
    height: 100%;
}

.btn-group button, .buttonSelection button {
    font-size: 20px;
    cursor: pointer;
    width: 60px;
    padding-left: 0;
    padding-right: 0;
}

#flashcard {
    max-width: 500px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #e9ecef;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

#flashcard-content {
    width: 100%;
    height: 100%;
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#graph {
    width: 100%;
    max-height: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-button, .back-button, .prev-button, .next-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.flip-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.prev-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.next-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}
